@import "../sass/_reset";
@import "../sass/_variables";
@import "../sass/_mixins";

.sp-br {
    @include media-md () {
        display: none !important;
    }
}

.pc-normal-text {
    font-family: "Hiragino Sans", sans-serif;
    font-style: normal;
    font-size: 12px;
    line-height: 24px;
    -webkit-box-align: center;
    align-items: center;
    letter-spacing: 0.125em;
}

.pc-bold-text {
    align-items: center;
    font-size: 22px;
    line-height: 22px;
    padding: 0 5px;
    letter-spacing: 0.14em;
}

//------------------------------------------------------------------
//背景色のあみあみ（エンドレスループhoverなし）
//------------------------------------------------------------------
.background {
    width: 134px;
    height: 134px;
    position: absolute;
    top: 5px;
    left: 5px;
    transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);

    @include media-sm () {
        width: 70px;
        height: 70px;
    }

    &-inner {
        width: 100%;
        height: 100%;
    }

    & svg {
        width: 100%;
        height: auto;
        display: block;
    }
}

//------------------------------------------------------------------
//背景色のあみあみ（アニメーション込み）
//------------------------------------------------------------------
.bg-parent-hover {
    &:hover {
        .content-move {
            top: -5px;
            left: -5px;
        }

        .play-button-hover {
            width: 94px;
            height: 94px;

            &:after {
                top: 38px;
                left: 45px;
            }
        }

        @keyframes shadow {
            0% { background-position-x: 0; }
            100% { background-position-x: 50px; }
        }

        .bg-shadow {
            transform: translate(2px, 2px);
            animation: shadow 1.2s linear infinite;
        }
    }
    @include media-sm () {
        .content-move {
            bottom: 10px;
        }
    }
    .bg-shadow {
        background-color: #ffe000;
        background-image: url(/assets/img/shadow_pattern.png);
        background-repeat: repeat;
        background-position: top left;
        background-size: 5px 5px;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 5px;
        left: 0;
        border-radius: 20px;
        overflow: hidden;
        transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
}

@keyframes shadow {
    0% { background-position-x: 0; }
    100% { background-position-x: 50px; }
}

.bg-shadow-loop {
    transform: translate(2px, 2px);
    animation: shadow 1.2s linear infinite;
}

.bg-shadow-loop {
    background-color: #ffe000;
    background-image: url(/assets/img/shadow_pattern.png);
    background-repeat: repeat;
    background-position: top left;
    background-size: 5px 5px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@keyframes shadow {
    0% { background-position-x: 0; }
    100% { background-position-x: 50px; }
}

.bg-shadow-loop--menu {
    transform: translate(2px, 2px);
    animation: shadow 1.2s linear infinite;
}

.bg-shadow-loop--menu {
    background-color: #ffe000;
    background-image: url(/assets/img/shadow_pattern.png);
    background-repeat: repeat;
    background-position: top left;
    background-size: 5px 5px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 7px;
    left: 8px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}