@import "../sass/reset";
@import "../sass/_variables";
@import "../sass/_mixins";

//------------------------------------------------------------------
//footer専用のscss
//------------------------------------------------------------------
.footer-pc {
    max-width: 1200px;
    width: 560px;
    height: 70px;
    margin: 0 auto 25px;
    text-align: center;
    position: relative;
    padding: 15px 0 20px;
    @include media-sm () {
        width: 100%;
        height: 30px;
        margin: 0 auto;
    }

    &-list {
        border: #fff 2px solid;
        border-radius: 30px;
        padding: 25px;
        display: flex;

        @include media-sm () {
            display: none;
        }

        &--item {
            display: inline-block;
            position: relative;
            vertical-align: top;
            left: 5px;
        }

        &--space {
            display: inline-block;
            position: relative;
            width: 40px;
            vertical-align: top;

            &:before {
                content: "";
                width: 6px;
                height: 6px;
                border-radius: 6px;
                background-color: #000;
                display: block;
                position: absolute;
                left: 60%;
                top: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
        }

        &--link {
            text-decoration: none;
            display: block;
            font-size: 13px;
            font-weight: 500;
            cursor: pointer;
            transition: opacity 0.1s linear;
            letter-spacing: 2px;
            color: #000;
        }
    }

    &-copyright {
        margin: 40px;

        @include media-sm () {
            height: 10px;
            margin: unset;
        }
    }
}