@import "../sass/_variables";
@import "../sass/_mixins";

//------------------------------------------------------------------
//header専用のscss
//------------------------------------------------------------------
.header-pc {
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    top: 0px;
    width: 100%;
    height: 90px;
    display: flex;
    position: fixed;
    z-index: 100;
    background-color: #ffe000;

    @include media-sm () {
        display: none;
    }

    &-menu {
        width: 100%;

        &--title {
            height: 30px;
            background: #000;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
        }

        &--logoimg {
            height: 18px;
            margin-left: 32px;
        }

        &--logotext {
            font-weight: 500;
            font-size: 12px;
            line-height: 12px;
            color: #FFF;
            height: 13px;
            width: 250px;
            margin-left: 32px;
        }

        &--logotel {
            font-weight: 500;
            font-size: 12px;
            line-height: 12px;
            color: #FFF;
            height: 10px;
            position: absolute;
            right: 0;
            margin-right: 16px;

            &::before {
                content: '';
                display: inline-block;
                width: 10px;
                height: 10px;
                padding-right: 2px;
                background: url(/assets/img/icon-tel.png) no-repeat;
                background-size: contain;
            }
        }

        &--link {
            height: 60px;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
        }
    }
}

.menu-links {
    margin-left: 32px;

    &-list {
        display: inline;
        font-size: 12px;
        line-height: 17px;

        &:not(:first-child) {
            margin-left: 24px;
        }

        &--link {
            text-decoration: none;
            color: #221815;
            outline: none;
        }
    }

    &-button {
        position: absolute;
        right: 0;
        margin-right: 32px;

        &--link {
            padding: 11px 32px;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.135em;
            color: #000000;
            background: #5ED4CA;
            border: 2px solid #FFFFFF;
            box-sizing: border-box;
            border-radius: 7px;
            text-decoration: none;
        }
    }
}

//------------------------------------------------------------------
//header専用のscss(sp-menu)
//------------------------------------------------------------------
.sp-menu-button {
    width: 55px;
    height: 55px;
    position: fixed;
    top: 10px;
    right: 15px;
    z-index: 600;

    @include media-sm () {
        transform: translate3d(0, 0, 0);
    }

    &--content {
        border-radius: 10px;
        width: 100%;
        height: 100%;
        background-color: #ffe000;
        border: 3px solid #fff;
        position: relative;
        overflow: hidden;
    }

    &--open {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding: 20px 0 0 16px;
        transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);

        &--line {
            width: 22px;
            height: 3px;
            background-color: #000;
            margin-bottom: 4px;
            transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
        }
    }

    &--close {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 100%;
        padding: 20px 0 0 16px;
        transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);

        &--line {
            width: 22px;
            height: 3px;
            background-color: #000;
            &:first-child {
                margin-top: 5px;
                margin-left: 2px;
                transform: rotate(45deg);
                top: calc(50%);
                left: 16px;
            }

            &:last-child {
                margin-left: 2px;
                margin-top: -2px;
                transform: rotate(-45deg);
                top: calc(50%);
                left: 16px;
            }
        }
    }
}

//------------------------------------------------------------------
//header専用のscss(sp-modal)
//------------------------------------------------------------------
.modal-menu {
    position: fixed;
    top: 0;
    right: -100vw;
    width: 100vw;
    height: 100%;
    background-color: #ffe000;
    z-index: 500;
    transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);

    &--background {
        width: 100vw;
        height: 100vh;
        background-color: #ffe000;
        position: absolute;
        top: 0;
        left: 0;
    }

    &--content {
        padding: 20px;
        overflow-y: scroll;
        height: 100%;

        &--inner {
            border: 3px solid #fff;
            border-radius: 15px;
            padding: 45px 15px 10px;
            position: relative;
        }
    }

    &--list {
        padding: 0 0 17px 15px;
    }

    &--item {
        position: relative;

        &--link {
            display: block;
            line-height: 1.5;
            font-size: 15px;
            padding: 5px 0 5px 18px;
            cursor: pointer;
            transition: opacity 0.1s linear;
            text-decoration: none;
            color: #221815;
            outline: none;
            font-weight: 600;

            &.small {
                font-size: 13px;
            }

            &:before {
                content: "";
                width: 6px;
                height: 6px;
                border-radius: 6px;
                background-color: #000;
                display: block;
                position: absolute;
                left: 0;
                top: 15px;
                transition: transform 0.1s linear, height 0.1s linear, width 0.1s linear, -webkit-transform 0.1s linear;
            }
        }
    }

    &--login--button {
        position: relative;
    }

    &--login--link {
        display: block;
        line-height: 1;
        font-size: 14px;
        padding: 15px 0 15px 40px;
        cursor: pointer;
        transition: opacity 0.1s linear;
        text-decoration: none;
        color: #221815;
        outline: none;
        font-weight: 600;

        
    }

    &--line {
        width: 18px;
        height: 2px;
        background-color: #000;
        margin: 0 0 17px 15px;
    }

    &--dotline {
        width: 100%;
        height: 3px;
        background-image: url(/assets/img/menu-dotline.png);
        background-size: 6px 3px;
    }
}

.company-icon {
    background-image: url(/assets/img/key-icon.png);
    width: 19px;
    height: 19px;
    display: block;
    position: absolute;
    left: 13px;
    top: 50%;
    transform: translateY(-50%);
    background-size: contain;
}

.user-icon {
    background-image: url(/assets/img/user-icon.png);
    width: 19px;
    height: 19px;
    display: block;
    position: absolute;
    left: 13px;
    top: 50%;
    transform: translateY(-50%);
    background-size: contain;
}

//------------------------------------------------------------------
//header専用のscss(sp)
//------------------------------------------------------------------
@include media-sm () {
    .request-button--sp {
        width: 127px;
        height: 33px;
        padding-top: 0;
        top: 11px;
        left: 11px;
        right: auto;
        z-index: 600;
        position: fixed;
        transform: translate3d(0, 0, 0);
    
        &--link {
            text-decoration: none;
            color: #221815;
            outline: none;
        }
    }
    
    .sp-frame {
        width: 120px;
        height: 27px;
        border-radius: 8px;
        border: 3px solid #262626;
        background-color: #5ed4ca;
        position: absolute;
    
        &-inner {
            display: none;
        }
    }
    
    .sp-text {
        font-size: 12px;
        font-weight: bold;
        height: 33px;
        margin: 0;
        line-height: 32px;
        letter-spacing: 2px;
        width: 100%;
        position: relative;
        text-align: center;
    }
}

.open-menu {
    -webkit-transform: translateX(-100vw);
    -ms-transform: translateX(-100vw);
    transform: translateX(-100vw);
}

.menu-button {
    -webkit-transform: translateX(-54px);
    -ms-transform: translateX(-54px);
    transform: translateX(-54px);
}