@import "../sass/_variables";
@import "../sass/_mixins";

body {
    font-family: $default;
    background-color: #ffe000;
}

.main-top {
    width: 100%;
    padding: 118px 0 0 0;

    @include media-sm() {
        width: unset;
        padding: 0 20px;
    }
}

.top-sections {
    padding-top: 50px;
}


//------------------------------------------------------------------
//ファーストビュー
//------------------------------------------------------------------
.main-visual {
    max-width: 1200px;
    border-radius: 30px;
    border: 3px solid #fff;
    margin: 0 auto 50px auto;
    overflow: hidden;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;

    @include media-sm() {
        border-radius: 15px;
        margin: 35px auto 17px auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }

    &__content-box {
        flex-basis: calc(100% - 532px);
        min-width: 500px;
        padding-top: 137px;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;

        @include media-sm () {
            min-width: 0;
            padding-top: 60px;
        }
    }

    &__top-visual-box {
        @include media-sm () {
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
        }
    }
}

.mv-content {
    position: relative;

    @include media-sm () {
        position: static;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        width: 100%;
    }

    &__visual {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
    }

    &__logo {
        width: 157px;
        height: auto;
    }
}

.mv-award-list {
    padding-left: 22px;
    display: flex;

    &__item--no1-app {
        padding-left: 7.88px;
    }
}

.pc-only {
    @include media-sm () {
        display: none !important;
    }
}

.sp-only {
    @include media-md () {
        display: none !important;
    }
}

.image-hrAward {
    width: 60.12px;
}

.image-no1app {
    width: 57px;
}

.mv-service-catch {
    &__main {
        font-family: "Hiragino Sans", sans-serif;
        font-weight: 800;
        line-height: 56px;
        font-size: 40px;
        letter-spacing: 0.13em;
    
        @include media-sm () {
            margin-top: 10px;
            font-size: 18px;
            line-height: 25px;
            text-align: center;
        }
    }
    
    &__sub {
        font-family: "Hiragino Sans", sans-serif;
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.22em;

        @include media-sm () {
            margin-top: 10px;
            text-align: center;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 0.12em;
        }

        &-br {
            display: none;

            @include media-sm () {
                display: block;
            }
        }
    }
}

.mv-content__cta {
    @include media-sm () {
        width: 90%;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
    }
}

.mv-cta {
    display: inline-flex;
    border-radius: 1rem;
    padding: 17px 31px 16px 37px;
    background: #5ED4CA;
    border: 0.2rem solid #ffffff;
    margin-top: 27px;
    background-color: rgb(65, 124, 194);
    color: rgb(255, 255, 255);
    text-decoration: none;

    @include media-sm () {
        padding: 5px 0;
        margin-top: 25px;
        width: 100%;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        max-width: 285px;
    }

    &__message-pc {
        font-family: "Hiragino Sans", sans-serif;
        font-style: normal;
        font-size: 12px;
        font-weight: bold;
        line-height: 24px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        letter-spacing: 0.125em;

        @include media-sm () {
            display: none;
        }
    }

    &__message-sp {
        font-family: "Hiragino Sans", sans-serif;
        font-style: normal;
        font-size: 12px;
        font-weight: bold;
        line-height: 17px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        letter-spacing: 0.13em;
        text-align: center;

        @include media-md () {
            display: none;
        }
    }

    &__em-pc {
        font-family: "Hiragino Sans", sans-serif;
        font-weight: bold;
        font-style: normal;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-size: 24px;
        line-height: 24px;
        padding: 0 8px;
        letter-spacing: 0.135em;

        @include media-sm () {
            display: none;
        }
    }

    &__em-sp {
        font-family: "Hiragino Sans", sans-serif;
        font-weight: bold;
        font-style: normal;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-size: 18px;
        line-height: 25px;
        padding: 0 8px;
        letter-spacing: 0.13em;
    }
}

.mv-app-caption {
    position: absolute;
    bottom: 16px;
    left: 0;
    font-family: "Hiragino Sans", sans-serif;
    font-weight: 500;
    font-size: 9px;
    line-height: 13px;
    letter-spacing: 0.1em;

    @include media-sm () {
        font-size: 9px;
        line-height: 140.46%;
        bottom: -5px;
        left: 20px;
        white-space: nowrap;
    }
}

.mv-top-visual {
    @include media-sm () {
        padding-top: 25px;
        margin-bottom: 45px;
        max-width: 400px;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        position: relative;
        height: 327px;
    }

    &__pc {
        display: block;
        width: 532px;

        @include media-sm () {
            display: none !important;
        }
    }

    &__sp {
        display: block;
        width: 100%;
        max-width: 317px;
        object-fit: contain;

        @include media-md {
            display: none;
        }
    }

    &__award-list {
        position: absolute;
        bottom: -40px;
        right: 16px;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }
}

//おそらく共通にした方がいい
.title-line1 {
    width: 33px;
    height: 46px;
    background-image: url(/assets/img/left-lineImge.svg);
    background-size: 35px auto;
    background-repeat: no-repeat;
    background-position: top left;
    display: inline-block;
    vertical-align: top;
}

.title-line2 {
    width: calc(100% - 66px);
    height: 3px;
    background-color: #fff;
    display: inline-block;
    vertical-align: top;
}

.title-line3 {
    width: 33px;
    height: 46px;
    background-image: url(/assets/img/right-lineImage.svg);
    background-size: 33px auto;
    background-position: -2px 0px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
}

.sections-pc--svg {
    width: 100%;
    height: 100%;
    display: inline-block;

    & svg {
        width: 100%;
        height: 100%;
        display: block;
    }
}

.sections-sp--svg {
    width: 100%;
    height: 100%;
    display: inline-block;

    & svg {
        width: 100%;
        height: 100%;
        margin-top: -9px;
    }
}

.total-clients-number {
    font-size: 33px;
    font-weight: 900;
    letter-spacing: 0.01em;
    line-height: 40px;

    @include media-sm () {
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.07em;
    }
}

.pc-none {
    display: none !important;
}

//------------------------------------------------------------------
//section-titleのline（共通）
//------------------------------------------------------------------
.section {
    &-title {
        text-align: center;
        position: relative;
        margin-bottom: 60px;

        @include media-sm () {
            margin: 0 -10px 25px;
            width: calc(100% + 20px);
        }

        &--line {
            width: 100%;
            height: 46px;
            font-size: 0;
            text-align: center;
            position: absolute;
            top: 33px;
            left: 0;

            @include media-sm () {
                top: 13px;
            }

            &:before {
                content: "";
                display: block;
                height: 46px;
                background-color: #ffe000;
                position: absolute;
                top: 0;
                left: 0;
                transform-origin: 0 0;
                transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
            }

            &::after {
                content: "";
                display: block;
                width: 50%;
                height: 46px;
                background-color: #ffe000;
                position: absolute;
                top: 0;
                right: 0;
                transform: scaleX(0);
                transform-origin: 100% 0;
                transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
            }
        }

        &--text {
            margin: -15px auto 22px;
            padding: 0 36px;
            background-color: #ffe000;
            -webkit-box-sizing: content-box;
            box-sizing: content-box;
            position: relative;

            @include media-sm () {
                margin: 0 auto 16px;
                padding: 0 18px;
            }

            &--clients {
                width: 200px;
                height: calc(48px + 15px);

                @include media-sm () {
                    width: 100px;
                    height: calc(29px + 9px);
                }
            }

            &--benefits {
                width: 247px;
                height: calc(48px + 15px);

                @include media-sm () {
                    width: 145px;
                    height: calc(29px + 9px);
                }
            }

            &--features {
                width: 258px;
                height: calc(47px + 15px);

                @include media-sm () {
                    width: 151px;
                    height: calc(28px + 9px);
                }
            }

            &--client-voice {
                width: 359px;
                height: calc(48px + 15px);

                @include media-sm () {
                    width: 211px;
                    height: calc(29px + 9px);
                }
            }

            &--cooperation-services {
                width: 612px;
                height: calc(61px + 15px);
                margin-bottom: 10px;

                @include media-sm () {
                    width: 202px;
                    height: calc(65px + 9px);
                }
            }

            &--security {
                width: 258px;
                height: calc(48px + 15px);

                @include media-sm () {
                    width: 151px;
                    height: calc(29px + 9px);
                }
            }

            &--difference {
                width: 300px;
                height: calc(61px + 15px);
                margin-bottom: 10px;
            }

            &--media {
                width: 175px;
                height: calc(48px + 15px);

                @include media-sm () {
                    width: 103px;
                    height: calc(29px + 9px);
                }
            }

            &--introduction-step {
                width: 535px;
                height: calc(61px + 15px);

                @include media-sm () {
                    width: 269px;
                    height: calc(29px + 9px);
                }
            }

            &--faq {
                width: 117px;
                height: calc(48px + 15px);

                @include media-sm () {
                    width: 68px;
                    height: calc(29px + 9px);
                }
            }
        }
    }

    &-subtitle {
        font-size: 18px;
        opacity: 1;
        font-weight: 900;
        -webkit-transition: opacity 0.2s linear;
        -o-transition: opacity 0.2s linear;
        transition: opacity 0.2s linear;
        letter-spacing: 2px;

        @include media-sm () {
            font-size: 16px;
            margin-top: -13px;
        }
    }
}

@include media-sm () {
    .benefits {
        margin-top: 10px;
    }

    .features {
        margin-top: 10px;
    }

    .client-voice {
        margin-top: 10px;
    }

    .cooperation-services {
        margin-top: 10px;
    }

    .security {
        margin-top: 10px;
    }

    .media {
        margin-top: 10px;
    }

    .introduction-step {
        margin-top: 10px;
    }

    .faq {
        margin-top: 10px;
    }
}

// 無料請求はこちらボタン（共通）
.request-button--pc {
    width: 41.49377%;
    margin: 0 auto;
    position: relative;

    .bg-shadow {
        left: 5px;
    }

    &--link {
        font-size: 16px;
        font-weight: 900;
        border: 3px solid #fff;
        background-color: #5ed4ca;
        color: #000;
        border-radius: 20px;
        box-sizing: border-box;
        text-align: center;
        margin-top: 100px;
        padding: 20px 0;
        display: block;
        width: 100%;
        position: relative;
        z-index: 1;
        text-decoration: none;
        transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    &--text {
        font-size: 24px;
        font-style: normal;
    }

    &--font {
        font-weight: 500;
    }
}

// moreボタン（共通）
.more-button--pc {
    width: 172px;
    margin: 0 auto;

    .bg-shadow {
        left: 5px;
        border-radius: 10px;
    }

    &--link {
        position: relative;
        display: inline-block;
        cursor: pointer;
        text-decoration: none;
        color: #221815;
        outline: none;
    }

    &--content {
        width: 172px;
        height: 44px;
        border-radius: 9px;
        overflow: hidden;
        position: relative;
        background-color: #fff;
        transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    &--text {
        background-image: url(/assets/img/more.svg);
        background-size: contain;
        width: 39px;
        height: 10px;
        text-indent: -100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
}

// 吹き出しのblock（共通）
.fukidashi-item {
    width: 100%;
    vertical-align: top;
    position: relative;
    margin: 0 0 47px;
    cursor: pointer;

    &--inner {
        position: relative;
    }

    &--content {
        border-radius: 30px;
        border: 3px solid #fff;
        padding: 20px 0;
        width: 100%;
        height: 100%;
        position: relative;
        background-color: #ffe000;
        transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
        @include cf();

        &--inner {
            float: left;
            padding: 20px 10px 0 32px;
        }
    }

    &--icon {
        width: 110px;
        height: 110px;
        border-radius: 110px;
        background-color: #fff;
        position: relative;
        left: 15px;
        float: left;

        &--img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    &--title {
        font-size: 22px;
        font-weight: 900;
        position: relative;
        margin: -5px 0 15px;
    }

    &--text {
        padding-right: 15px;
        display: inline-block;
    }

    &--label {
        float: right;
        position: relative;
        bottom: 3px;
    }

    &--label--text {
        background-color: #5ed4ca;
        font-size: 12px;
        font-weight: 700;
        height: 27px;
        line-height: 27px;
        padding: 0 16px;
        display: inline-block;
        border-radius: 27px;
    }

    &--description {
        text-align: left;
        margin: -3px 0;
        font-size: 16px;
        line-height: 27px;
        // height: 25px;
        overflow: hidden;

        &--name {
            padding-top: 27px;
            font-size: 12px;
            width: 100%;
            display: inline-block;
        }
    }
}

//------------------------------------------------------------------
//top-contacts-buttons
//------------------------------------------------------------------
.top-contacts-buttons {
    text-align: center;
    max-width: 1200px;
    margin: 0 auto 80px;

    @include media-sm () {
        margin: 0 auto 50px;
    }
}

.top-contacts-request--pc {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    width: 41%;

    @include media-sm () {
        width: 100%;
        margin-bottom: 15px;
    }
}

.top-contacts-request--btn--pc {
    @include media-sm () {
        display: none;
    }
}

.top-contacts-request--btn--sp {
    display: inline-flex;
    border-radius: 1rem;
    padding: 15px 55px;
    background: #5ED4CA;
    color: #000000;
    border: 0.2rem solid #ffffff;
    text-decoration: none;

    @include media-md () {
        display: none;
    }
}

.top-contacts-tel--pc {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    width: 41%;

    @include media-sm () {
        width: 100%;
    }
}

.top-contacts-tel--btn--pc {
    @include media-sm () {
        display: none;
    }
}

.top-contacts-tel--btn--sp {
    display: inline-flex;
    border-radius: 1rem;
    padding: 15px 37px;
    color: #000000;
    border: 0.2rem solid #ffffff;
    text-decoration: none;

    @include media-md () {
        display: none;
    }
}

.request--pc {
    width: 100%;
    height: auto;
}

.tel--pc {
    width: 100%;
    height: auto;
}

.top__em-sp {
    font-family: "Hiragino Sans", sans-serif;
    font-weight: bold;
    font-style: normal;
    -webkit-box-align: center;
    align-items: center;
    font-size: 18px;
    line-height: 25px;
}

//------------------------------------------------------------------
//sections:whats-payme
//------------------------------------------------------------------
.whats-payme {
    width: 1015px;
    min-height: 380px;
    margin: 0 auto 100px;
    position: relative;
    padding: 50px 0;

    @include media-sm () {
        width: 100%;
        min-height: auto;
        margin: 0 auto;
        padding: 0;
    }

    &--title {
        position: relative;
        width: 412px;
        pointer-events: none;
        margin: -15px 0 10px -5px;
        z-index: 1;

        @include media-sm () {
            width: 238px;
            margin: -9px auto 0;
        }
    }

    &--svg {
        width: 100%;
        height: 100%;
        display: inline-block;
    }

    &--subtitle {
        font-size: 18px;
        font-weight: bold;
        line-height: 2;
        margin-bottom: 45px;
        letter-spacing: 2px;

        @include media-sm () {
            font-size: 16px;
            margin: 0 auto 27px;
            text-align: center;
            letter-spacing: 1px;
        }
    }

    &--text {
        font-size: 13px;
        line-height: 25px;
        margin: -10px 0;
        letter-spacing: 2px;
        font-weight: 700;

        @include media-sm () {
            font-size: 12px;
            line-height: 22px;
            letter-spacing: 1px;
            margin: -5px 0;
        }
    }
}

.whats-payme-movie {
    position: absolute;
    width: 658px;
    height: 375px;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: all .10s ease-out;

    .bg-shadow {
        left: 5px;
    }

    @include media-sm () {
        position: relative;
        width: 100%;
        height: auto;
        top: auto;
        right: auto;
        margin-bottom: 25px;
    }

    &--content {
        width: 658px;
        height: 375px;
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);

        @include media-sm () {
            width: 100%;
            height: auto;
            border-radius: 12px;
        }
    }

    &--thumbnail--img {
        width: 100%;
        height: auto;
        display: block;
    }

    &--play--button {
        width: 88px;
        height: 88px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        pointer-events: none;

        @include media-sm () {
            width: 44px;
            height: 44px;
            background-image: url(/assets/img/playbutton-triangle-sp.svg);
            background-size: contain;
            background-repeat: no-repeat;
        }

        &:before {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 68px;
            background-color: #5ed4ca;
            position: absolute;
            top: 0;
            left: 0;
            border: 3px solid #000;
            transition: background-color 0.2s linear,transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1),-webkit-transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);

            @include media-sm () {
                display: none;
            }
        }

        &:after {
            content: "";
            display: block;
            width: 19px;
            height: 22px;
            background-image: url(/assets/img/playbutton-triangle.svg);
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            top: 37px;
            left: 40px;

            @include media-sm () {
                display: none;
            }
        }
    }
}

//------------------------------------------------------------------
//sections:section-clients
//------------------------------------------------------------------
.section-clients {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    position: relative;

    @include media-md () {
        padding: 165px 0;
        margin-top: -165px;
    }

    @include media-sm () {
        margin-bottom: 0;
        padding-top: 70px;
    }
}

.clients-number--companies {
    width: 134px;
    height: 134px;
    float: right;
    top: -45px;
    right: 53px;
    position: relative;
    padding-top: 40px;
    z-index: 80;
    transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1),right 0.2s cubic-bezier(0.215, 0.61, 0.355, 1),-webkit-transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);

    @include media-sm () {
        width: 70px;
        height: 70px;
        top: -33px;
        right: 13px;
        z-index: 600;
        transform: translate3d(0, 0, 0);
    }
}

.clients-number--imgframe {
    width: 134px;
    height: 134px;
    transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    position: absolute;
    top: 0;
    left: 0;
    
    @include media-sm () {
        width: 70px;
        height: 70px;
    }

    &--inner {
        width: 100%;
        height: 100%;
        background-image: url(/assets/img/clients-number-frame.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }

    &--text {
        width: 100%;
        position: relative;
        text-align: center;
        font-size: 16px;
        margin-top: -4px;
        line-height: 24px;
        letter-spacing: 0.05em;

        @include media-sm () {
            font-size: 7px;
            line-height: 10.5px;
            letter-spacing: 0.07em;
            bottom: 18px;
        }
    }
}

.client-companies-item {
    width: 100%;
    vertical-align: top;
    position: relative;

    .bg-shadow {
        left: 5px;
        border-radius: 30px;

        @include media-sm () {
            top: -5px;
        }
    }

    &:nth-child(1) {
        transition: opacity 0.2s linear 0.1s,transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s,-webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s;
    }

    &--inner {
        position: relative;
    }
}

.client-companies-content {
    border-radius: 30px;
    border: 0 solid #fff;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #fff;
    transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);

    &:after {
        content: "";
        display: table;
        clear: both;
    }

    &--inner {
        padding: 20px;

        @include media-sm () {
            width: 100%;
            float: none;
            padding: 0;
        }
    }

    &--title {
        font-weight: bold;
        text-align: center;
        font-size: 18px;
        position: relative;
        margin: 50px 0;
        letter-spacing: 0.05em;

        @include media-sm () {
            font-size: 10px;
            padding: 50px 0 0;
            margin: 10px 0 15px;
            text-align: center;
            left: 7%;
        }
    }
}

.client-companies-imgicones {
    width: 100%;
    text-align: center;
    overflow: hidden;

    @include media-sm () {
        position: relative;
        bottom: 25px;
        float: none;
        margin-bottom: -25px;
    }

    img {
        width: auto;
        height: 100px;

        @include media-sm () {
            height: 55px;
        }
    }
}

//------------------------------------------------------------------
//sections:section-benefits
//------------------------------------------------------------------
.section-benefits {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    position: relative;

    @include media-md () {
        padding: 165px 0;
        margin-top: -165px;
    }

    @include media-sm () {
        margin-bottom: 0;
        padding: 70px 0 0 0;
    }

    &--inner {
        width: 100%;
        max-width: 1200px;
        font-size: 0;
        text-align: center;

        &--block {
            width: calc(100% + 24px);
            margin: 0 -12px;
        }
    }
}

.benefits-block-item {
    display: inline-block;
    width: calc(33.3% - 24px);
    vertical-align: top;
    min-height: 300px;
    margin: 0 12px 22px;
    position: relative;
    cursor: pointer;

    @include media-sm () {
        min-height: auto;
    }

    &--inner {
        position: relative;
        @include media-sm () {
            width: 92% !important;
            display: block !important;
        }
    }

    &--content {
        border-radius: 20px;
        border: 3px solid #fff;
        padding: 40px 0 11px;
        width: 100%;
        position: relative;
        background-color: #ffe000;
        transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    &--title {
        font-size: 22px;
        font-weight: 900;
        line-height: 34px;
        padding-bottom: 27px;
        position: relative;
        margin: -6px 0 8px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        min-height: 95px;

        @include media-sm () {
            text-align: center;
        }

        &:after {
            content: "";
            display: block;
            width: 33px;
            height: 3px;
            background-image: url(/assets/img/benefits-line.png);
            background-size: 33px auto;
            position: absolute;
            bottom: 0;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
        }
    }

    &--text {
        font-size: 14px;
        line-height: 24px;
        text-align: left;
        width: 260px;
        margin: -5px auto 65px;
        letter-spacing: 2px;
        min-height: 72px;
        font-family: YakuHanJP, 'Noto Sans Japanese', sans-serif;
        font-weight: 700;

        @include media-sm () {
            margin-bottom: 0;
            padding: 0 20px;
            min-height: 80px;
        }
    }

    &--morebutton {
        width: 73px;
        height: 22px;
        margin-bottom: 40px;
        margin-left: calc(50% - 36px);
        cursor: pointer;

        @include media-sm () {
            margin-bottom: 10px;
        }

        &--text {
            width: 39px;
            height: 22px;
            background-image: url(/assets/img/more.svg);
            background-repeat: no-repeat;
            background-size: 100% auto;
            background-position: center center;
            margin-right: 10px;
            float: left;
        }

        &--icon {
            width: 22px;
            height: 22px;
            background-image: url(/assets/img/news_arrow.svg);
            background-repeat: no-repeat;
            background-size: 100% auto;
            float: left;
        }
    }
}

//fadein
.fadein {
    opacity: 0;
    transform : translate(0, 50px);
    transition : all 3500ms;
}

.fadein.scrollin{
    opacity: 1;
    transform: translate(0, 0);
  }

//------------------------------------------------------------------
//sections:section-features
//------------------------------------------------------------------
.section-features {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    position: relative;

    @include media-md () {
        padding: 165px 0;
        margin-top: -165px;
    }

    @include media-sm () {
        margin-bottom: 0;
        padding-top: 70px;
    }

    &--image {
        width: 57%;
        margin: 0 auto;

        @include media-sm () {
            width: calc(100% - 8px);
        }
    }

    &--pcimg {
        width: 100%;
        height: auto;
    }

    &--spimg {
        width: 100%;
        height: auto;
    }
}

//------------------------------------------------------------------
//sections:section-client-voice
//------------------------------------------------------------------
.section-client-voice {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    position: relative;

    @include media-md () {
        padding: 165px 0;
        margin-top: -165px;
    }

    @include media-sm () {
        margin-bottom: 0;
        padding-top: 70px;
    }
}

// スライダー吹き出し用style(SP)
.fukidashisp-item--inner {
    position: relative;
}

.fukidashisp-item--content {
    padding: 30px 20px;
    border-radius: 30px;
    border: 3px solid #fff;
    position: relative;
    background-color: #ffe000;
}

.fukidashisp-item--icon {
    margin: 0 auto 10px;
    float: none;
    width: 110px;
    height: 110px;
    border-radius: 110px;
    background-color: #fff;
    overflow: hidden;

    &--img {
        width: 100%;
        height: auto;
        display: block;
    }
}

.fukidashisp-item--content--inner {
    width: 100%;
    float: none;
    padding: 0;
}

.fukidashisp-item--title {
    font-size: 18px;
    padding: 55px 0 0;
    margin: 0 0 15px;
    text-align: center;
    font-weight: 900;
    position: relative;
}

.fukidashisp-item--text {
    padding-right: 15px;
    display: inline-block;
}

.fukidashisp-item--label {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    transform: translateY(-3px);

    &--inner {
        margin: 0 auto;
        background-color: #5ed4ca;
        font-size: 12px;
        font-weight: 700;
        height: 27px;
        line-height: 27px;
        padding: 0 16px;
        display: inline-block;
        border-radius: 27px;
    }
}

.fukidashisp-item--description {
    font-size: 12px;
    line-height: 22px;
    font-weight: 600;
    margin: -3px 0 20px;
    text-align: left;
    overflow: hidden;

    @include media-sm () {
        height: 66px;
    }
}

.fukidashisp-item--name {
    padding-top: 20px;
    font-size: 12px;
    width: 100%;
    display: inline-block;
    line-height: 22px;
}

.fukidashisp-item--morebuttn {
    width: 73px;
    position: relative;
    cursor: pointer;
    margin: 0 auto;

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.fukidashisp-item--link--text {
    width: 39px;
    height: 22px;
    background-image: url(/assets/img/more.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
    margin-right: 10px;
    float: left;
}

.fukidashisp-item--link--icon {
    transform: rotate(90deg);
    width: 22px;
    height: 22px;
    background-image: url(/assets/img/news_arrow.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    float: left;
}

.sp-activ {
    height: auto;
}

.sp-icon {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

//------------------------------------------------------------------
//sections:section-cooperation-services
//------------------------------------------------------------------
.section-cooperation-services {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    position: relative;

    @include media-md () {
        padding: 165px 0;
        margin-top: -165px;
    }

    @include media-sm () {
        margin-bottom: 0;
        padding-top: 70px;
    }
}

.services-fukidashi-item {
    width: 99%;
    vertical-align: top;
    position: relative;
    cursor: pointer;
    margin: 0 0 47px;
    transform: translateY(0px);
    transition: opacity 0.2s linear 0s,transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0s,-webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;

    .bg-shadow {
        left: 10px;
        border-radius: 30px;
    }

    &--inner {
        position: relative;
    }

    &--content {
        border-radius: 30px;
        border: 3px solid #fff;
        padding: 20px 0 20px 0;
        width: 100%;
        height: 100%;
        position: relative;
        background-color: #ffe000;
        transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
        @include cf();

        &--inner {
            width: calc(100% - 110px);
            float: left;
            padding: 20px 0 0 32px;
        }
    }

    &--icon {
        width: 110px;
        height: 110px;
        border-radius: 110px;
        background-color: #fff;
        margin: -15px 35px 15px 0;
        float: left;
        overflow: hidden;

        &--img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    &--title {
        font-size: 22px;
        font-weight: 900;
        position: relative;
        margin: -5px 0 15px;
    }

    &--text {
        padding-right: 15px;
        display: inline-block;
    }

    &--label {
        display: inline-block;
        transform: translateY(-3px);

        &--inner {
            background-color: #5ed4ca;
            font-size: 12px;
            font-weight: 700;
            height: 27px;
            line-height: 27px;
            padding: 0 16px;
            display: inline-block;
            border-radius: 27px;
        }
    }

    &--description {
        font-size: 16px;
        margin-right: 60px;
        line-height: 27px;
        height: 25px;
        overflow: hidden;
    }

    &--link {
        color: #5ed4ca;
        text-decoration: underline;
    }

    &--morebuttn {
        width: 35px;
        height: 35px;
        background-image: url(/assets/img/arrow_down.svg);
        background-repeat: no-repeat;
        background-size: 100% auto;
        position: absolute;
        top: calc(50% - 17px);
        right: 35px;
        transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
        cursor: pointer;

        @include media-sm () {
            width: 22px;
            height: 22px;
            top: calc(50% - 11px);
            right: 15px;
        }
    }

    &--fukidashi {
        width: 68px;
        height: 40px;
        background-image: url(/assets/img/fukidashi.png);
        background-repeat: no-repeat;
        background-size: 100% auto;
        position: absolute;
        bottom: -23px;
        right: 122px;

        @include media-sm () {
            right: 40px;
        }
    }
}

//------------------------------------------------------------------
//sections:section-security
//------------------------------------------------------------------
.section-security {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    position: relative;

    @include media-md () {
        padding: 165px 0;
        margin-top: -165px;
    }

    @include media-sm () {
        margin-bottom: 0;
        padding: 70px 0 0 0;
    }

    &--inner {
        width: 100%;
        max-width: 1200px;
        font-size: 0;
        text-align: center;
        margin: 0 auto;

        &--block {
            width: calc(100% + 24px);
            margin: 0 -12px;
        }
    }
}

.security-block-item {
    display: inline-block;
    width: calc(50% - 35px);
    vertical-align: top;
    height: 350px;
    margin: 20px 10px;
    position: relative;

    @include media-sm () {
        height: 0;
    }

    .bg-shadow {
        top: 27px;
        left: 10px;
        border-radius: 25px;
    }

    @include media-sm () {
        width: 100%;
        min-height: auto;
        margin: 0;
    }

    &--inner {
        position: relative;
        height: 100%;

        @include media-sm () {
            width: 90% !important;
            margin: 0 auto;
            position: relative;
            display: block !important;
        }
    }

    &--content {
        border-radius: 20px;
        border: 3px solid #fff;
        padding: 30px 0 11px;
        width: 100%;
        height: 93%;
        position: relative;
        background-color: #fff;
        transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    &--title {
        font-size: 20px;
        font-weight: 900;
        line-height: 30px;
        padding-bottom: 15px;
        position: relative;
        margin: 0 auto;
        width: 300px;

        @include media-sm () {
            text-align: center;
        }

        &:after {
            content: "";
            display: block;
            width: 33px;
            height: 3px;
            background-image: url(/assets/img/benefits-line.png);
            background-size: 33px auto;
            position: absolute;
            bottom: 0;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
        }
    }

    &--img {
        width: 100%;
        height: 150px;
        margin-bottom: 15px;
        padding-top: 30px;

        @include media-sm () {
            width: 100%;
            margin: 0 auto;
            text-align: center;
            height: auto;
            padding-bottom: 30px;
            padding-top: 30px;
        }

        &--height {
            width: 100%;
            height: 113px;
            margin-bottom: 15px;
            padding-top: 30px;
        }

        &--size1 {
            width: 200px;

            @include media-sm () {
                width: 160px;
                display: unset !important;
            }
        }

        &--size2 {
            width: 130px;

            @include media-sm () {
                width: 200px;
                display: unset !important;
            }
        }

        &--size3 {
            width: 84px;

            @include media-sm () {
                width: 100px;
                display: unset !important;
            }
        }
    }

    &--text {
        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
        text-align: left;
        width: 80%;
        margin: -20px auto 10px;

        @include media-sm () {
            margin-bottom: -5px;
            padding: 0 20px;
            font-size: 14px;
            line-height: 24px;
            margin: -5px auto 10px;
        }
    }
}

.open-active {
    height: auto;
}

.faqs-item--open {
    transform: rotate(-180deg);
}

//------------------------------------------------------------------
//sections:section-difference
//------------------------------------------------------------------
.section-difference {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    position: relative;

    @include media-md () {
        padding: 165px 0;
        margin-top: -165px;
    }

    @include media-sm () {
        margin-bottom: 0;
        padding-top: 70px;
    }

    &--inner--block {
        margin-top: 25px;
        text-align: center;
        font-size: 0;
    }
    
    &-table {
        margin: 25px 0;
        display: inline-block;
        overflow: hidden;
        width: 18%;
        height: 360px;

        &:nth-child(1) {
            font-weight: 500;
            border-radius: 40px 0 0 40px;
        }

        &:nth-child(2) {
            width: 23%;
            height: 420px;
            border-radius: 40px;
            margin: 0 1.875%;
            font-size: 24px;
        }

        &:nth-child(4) {
            border-radius: 0 40px 40px 0;
        }

        &--head {
            height: 60px;
            line-height: 60px;
            background-color: #F26644;
            color: white;
            font-size: 18px;

            &.payme {
                height: 70px;
                line-height: 70px;
                font-size: 24px;
                font-weight: 900;
            }
        }

        &--body {
            background-color: #fff;
            color: black;

            &--row {
                font-size: 16px;
                line-height: 60px;

                &:nth-child(2n) {
                    background-color: #F9F9F9;
                }

                &.payme{
                    line-height: 70px;
                    font-weight: bold;
                }

                &.bold{
                    font-weight: bold;
                }
            }
        }
    }
}

//------------------------------------------------------------------
//sections:section-media
//------------------------------------------------------------------
.section-media {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    position: relative;

    @include media-md () {
        padding: 165px 0;
        margin-top: -165px;
    }

    @include media-sm () {
        margin-bottom: 0;
        padding-top: 70px;
    }

    &-parts {
        text-align: center;
        font-size: 0;
        width: calc(100% + 20px);
        margin: 0 -10px;

        @include media-sm () {
            width: calc(100vw - 26px);
            margin: 0 -7px;
            text-align: left;
        }
    }
}

.section-media-item {
    display: inline-block;
    vertical-align: top;
    width: 132px;
    height: 132px;
    margin: 0 10px 10px;

    @include media-sm () {
        width: calc(33% - 14px);
        height: calc(33% - 14px);
        margin: 0 7px 15px;
    }

    &--img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 134px;
    }
}

//------------------------------------------------------------------
//sections:section-introduction-step
//------------------------------------------------------------------
.section-introduction-step {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    position: relative;

    @include media-md () {
        padding: 165px 0;
        margin-top: -165px;
    }

    @include media-sm () {
        margin-bottom: 0;
        padding-top: 70px;
    }
}

.section-steps-content {
    width: 1200px;
    text-align: center;
    margin: 0 auto;

    @include media-sm () {
        width: 100%;
    }

    &--item {
        float: left;

        @include media-sm () {
            width: 100% !important;
            float: none;
            margin-bottom: 20px;
            font-size: 0;
            padding: 0 !important;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        &:nth-child(1) {
            width: 178px;
        }

        &:nth-child(1) .section-steps-head {
            @include media-sm () {
                display: none;
            }
        }

        &:nth-child(2) {
            width: 160px;
            padding: 0 0 0 50px;
        }

        &:nth-child(3) {
            width: 240px;
            padding: 0 15px;
        }

        &:nth-child(4) {
            width: 460px;
            padding: 0 15px;

            @include media-sm () {
                margin-bottom: 0;
            }
        }
    }
}

.section-steps-head {
    width: calc(100% + 30px);
    padding-bottom: 25px;
    margin: 0 -15px;

    @include media-sm () {
        width: 100%;
        margin: 0 -15px;
        padding-bottom: 18px;
    }

    &:after {
        content: "";
        display: table;
        clear: both;
    }

    &--space {
        width: 178px;
        height: 33px;
        float: left;
    }

    &--label1 {
        width: 160px;
        float: left;
        text-align: center;

        @include media-sm () {
            float: none;
            width: 100%;
        }
    }

    &--label2 {
        width: 240px;
        float: left;
        text-align: center;

        @include media-sm () {
            float: none;
            width: 100%;
        }
    }

    &--label3 {
        width: 302px;
        float: left;
        text-align: center;

        @include media-sm () {
            float: none;
            width: 100%;
        }
    }

    &--label4 {
        width: 158px;
        float: left;
        text-align: center;

        @include media-sm () {
            float: none;
            width: 100%;
            display: none;
        }
    }


    &--number {
        background-image: url(/assets/img/step1-number.png);
        width: 33px;
        height: 33px;
        background-size: contain;
        font-size: 0;
        display: inline-block;
        vertical-align: top;

        @include media-sm () {
            width: 25px;
            height: 25px;
        }
    }

    &--number2 {
        background-image: url(/assets/img/step2-number.png);
        width: 33px;
        height: 33px;
        background-size: contain;
        font-size: 0;
        display: inline-block;
        vertical-align: top;

        @include media-sm () {
            width: 25px;
            height: 25px;
        }
    }

    &--number3 {
        background-image: url(/assets/img/step3-number.png);
        width: 33px;
        height: 33px;
        background-size: contain;
        font-size: 0;
        display: inline-block;
        vertical-align: top;

        @include media-sm () {
            width: 25px;
            height: 25px;
        }
    }

    &--label {
        font-size: 18px;
        font-weight: 900;
        display: inline-block;
        vertical-align: top;
        padding-left: 6px;
        height: 33px;
        line-height: 30px;

        @include media-sm () {
            height: 25px;
            line-height: 25px;
        }
    }
}

.section-steps-icon--user {
    width: 152px;
    padding: 30px 0 0 50px;
    margin-bottom: 52px;

    @include media-sm () {
        order: 2;
        display: block;
        width: 50%;
        padding: 0;
        margin-bottom: 0;
    }
}

.section-steps-icon--payme {
    width: 152px;
    padding: 0 0 0 50px;

    @include media-sm () {
        order: 1;
        display: block;
        width: 50%;
        padding: 0;
    }
}

.section-steps-icon--img {
    width: 100%;
    height: auto;
    display: block;

    @include media-sm () {
        display: inline-block;
        width: 100px;
    }
}

.section-steps-box-text1--sign {
    height: 202px;
    width: 85%;
    background-color: #fff;
    border-radius: 25px;
    margin-bottom: 12px;
    font-weight: 900;
    position: relative;

    @include media-sm () {
        order: 4;
        width: calc(50% - 10px);
        display: inline-block;
        font-size: 13px;
        height: 62px;
        border-radius: 10px;
        margin: 0 5px;
    }
}

.section-steps-box-text1--judg {
    height: 202px;
    width: 85%;
    background-color: #fff;
    border-radius: 25px;
    margin-bottom: 12px;
    font-weight: 900;
    position: relative;

    @include media-sm () {
        order: 3;
        width: calc(50% - 10px);
        display: inline-block;
        font-size: 13px;
        height: 62px;
        border-radius: 10px;
        margin: 0 5px;
    }
}

.section-steps-box-text2 {
    height: 416px;
    width: 100%;
    background-color: #fff;
    border-radius: 25px;
    font-weight: 900;
    position: relative;

    @include media-sm () {
        height: 70px;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &--inner--hearing {
        height: 50%;
        position: relative;
        padding: 0 20px;
        font-size: 13px;

        @include media-sm () {
            order: 6;
        }
    }

    &--inner--lecture {
        height: 50%;
        position: relative;
        padding: 0 20px;
        font-size: 13px;

        @include media-sm () {
            order: 5;
        }
    }
}

.section-steps-box-text3 {
    height: 202px;
    width: 131px;
    float: left;
    background-color: #fff;
    border-radius: 25px;
    margin-bottom: 12px;
    margin-right: 12px;
    font-weight: 900;
    position: relative;

    @include media-sm () {
        border-radius: 10px;
        margin: 0px 0 14px 10px!important;
        width: 100%;
        float: none;
        height: 62px;
        font-size: 13px;
    }

    &:nth-child(3) {
        margin-left: 10px;
    }

    &--container {
        @include media-sm () {
            display: flex;
            flex-direction: column;
            order: 8;
            float: right;
            width: calc(50% - 5px);
        }
    }
}

.section-steps-box-text4 {
    height: 202px;
    width: 93%;
    float: left;
    background-color: #fff;
    border-radius: 25px;
    font-weight: 900;
    position: relative;

    @include media-sm () {
        order: 7;
        height: 214px;
        width: calc(50% - 5px);
        float: left;
        border-radius: 10px;
        font-size: 13px;
    }
}

.section-steps-box-title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 1.6;
    width: 100%;
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;

    @include media-sm () {
        font-size: 13px;
        line-height: 20px;
    }
}

.section-steps-box-title2--hearing {
    width: calc(100% - 40px);
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    line-height: 1.6;
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;

    @include media-sm () {
        font-size: 13px;
        line-height: 20px;
        width: 100%;
        margin-top: 35px;
        padding-left: 30px;
        position: unset;
    }
}

.section-steps-box-title2--lecture {
    width: calc(100% - 40px);
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    line-height: 1.6;
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;

    @include media-sm () {
        font-size: 13px;
        line-height: 20px;
        width: 100%;
        margin-top: 35px;
        padding-left: 15px;
        position: unset;
    }
}

.section-steps-box-delta {
    width: 18px;
    height: 20px;
    background-image: url(/assets/img/step-delta-right.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: block;
    position: absolute;
    top: calc(50% - 9px);
    left: -10px;

    @include media-sm () {
        width: 13px;
        height: 15px;
        top: -9px;
        left: calc(50% - 6px);
        transform: rotate(90deg);
    }
}

.section-steps-box-delta--hearing {
    width: 18px;
    height: 20px;
    background-image: url(/assets/img/step-delta-right.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: block;
    position: absolute;
    top: calc(50% - 9px);
    left: -10px;

    @include media-sm () {
        width: 13px;
        height: 15px;
        top: -9px;
        left: calc(50% - -22px);
        transform: rotate(90deg);
    }
}

.section-steps-box-delta--lecture {
    width: 18px;
    height: 20px;
    background-image: url(/assets/img/step-delta-right.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: block;
    position: absolute;
    top: calc(50% - 9px);
    left: -10px;

    @include media-sm () {
        width: 13px;
        height: 15px;
        top: -9px;
        left: calc(50% - 0px);
        transform: rotate(90deg);
    }
}

//------------------------------------------------------------------
//sections:section-faq
//------------------------------------------------------------------
.section-faq {
    padding: 450px 0 150px;
    margin-top: -165px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    position: relative;

    @include media-sm () {
        margin-bottom: 0;
        padding: 70px 0 0 0;
    }
}

.faqs-item {
    width: 100%;
    vertical-align: top;
    position: relative;
    margin: 0 0 47px;
    cursor: pointer;

    .bg-shadow {
        top: 4px;
        left: 5px;
        border-radius: 30px;
    }

    &--inner {
        position: relative;
        width: 98%!important;
    }

    &--content {
        border-radius: 30px;
        border: 3px solid #fff;
        padding: 45px 90px 45px 53px;
        height: 100%;
        position: relative;
        background-color: #ffe000;
        transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
        font-size: 0;

        @include media-sm () {
            padding: 22px 50px 22px 20px;
        }
    }

    &--number {
        font-size: 0;
        display: inline-block;
        vertical-align: top;
        width: 90px;

        @include media-sm () {
            width: 50px;
            padding-top: 10px;
        }

        &--qq {
            background-size: contain;
            background-repeat: no-repeat;
            display: inline-block;
            vertical-align: top;
            margin-right: 7px;
            width: 24px;
            height: 33px;
            background-image: url(/assets/img/q.svg);

            @include media-sm () {
                width: 18px;
                height: 24px;
                margin-right: 5px;
            }
        }

        &--q1 {
            background-size: contain;
            background-repeat: no-repeat;
            display: inline-block;
            vertical-align: top;
            margin-right: 7px;
            width: 24px;
            height: 33px;
            background-image: url(/assets/img/1.svg);

            @include media-sm () {
                width: 9px;
                height: 24px;
                margin-right: 5px;
            }
        }

        &--q2 {
            background-size: contain;
            background-repeat: no-repeat;
            display: inline-block;
            vertical-align: top;
            margin-right: 7px;
            width: 24px;
            height: 33px;
            background-image: url(/assets/img/2.svg);

            @include media-sm () {
                width: 14px;
                height: 24px;
                margin-right: 5px;
            }
        }

        &--q3 {
            background-size: contain;
            background-repeat: no-repeat;
            display: inline-block;
            vertical-align: top;
            margin-right: 7px;
            width: 24px;
            height: 33px;
            background-image: url(/assets/img/3.svg);

            @include media-sm () {
                width: 14px;
                height: 24px;
                margin-right: 5px;
            }
        }

        &--q4 {
            background-size: contain;
            background-repeat: no-repeat;
            display: inline-block;
            vertical-align: top;
            margin-right: 7px;
            width: 24px;
            height: 33px;
            background-image: url(/assets/img/4.svg);

            @include media-sm () {
                    width: 16px;
                    height: 24px;
                    margin-right: 5px;
            }
        }

        &--q5 {
            background-size: contain;
            background-repeat: no-repeat;
            display: inline-block;
            vertical-align: top;
            margin-right: 7px;
            width: 24px;
            height: 33px;
            background-image: url(/assets/img/5.svg);

            @include media-sm () {
                    width: 14px;
                    height: 24px;
                    margin-right: 5px;
            }
        }

        &--q6 {
            background-size: contain;
            background-repeat: no-repeat;
            display: inline-block;
            vertical-align: top;
            margin-right: 7px;
            width: 24px;
            height: 33px;
            background-image: url(/assets/img/6.svg);

            @include media-sm () {
                    width: 14px;
                    height: 24px;
                    margin-right: 5px;
            }
        }
    }

    &--title {
        font-size: 22px;
        font-weight: 600;
        position: relative;
        margin: -5px 0;
        display: inline-block;
        vertical-align: top;
        padding-top: 7px;
        width: calc(100% - 180px);

        @include media-sm () {
            font-size: 18px;
            padding-top: 3px;
            width: calc(100% - 60px);
            line-height: 25px;
        }
    }

    &--text {
        font-size: 16px;
        text-align: left;
        margin: 0 0;
        line-height: 25px;
        overflow: hidden;

        @include media-sm () {
            font-size: 13px;
            line-height: 22px;
            margin: 0 0;
        }

        &--description {
            padding: 26px 0 0 90px;
            display: block;

            @include media-sm () {
                padding: 15px 0 0 50px;
            }
        }
    }
}


// スライダー
.slider-benefits {
    @include media-sm () {
        width: 100vw;
        margin: 0 -20px;
    }
    
    .slick-dots {
        bottom: -30px !important;
        left: 0;
    }
}

.slider-voice {
    .slick-track {
        height: 780px;
    }
}

.slider-services {
    .slick-track {
        height: 535px;
    }
}

.slider-security {
    width: 100vw;
    margin: 0 -25px;

    .slick-track {
        height: 490px;
    }

    .slick-dots {
        bottom: -20px !important;
        left: 0;
    }
}

.slider-faq {
    .slick-track {
        height: 270px;
    }

    .slick-dots {
        bottom: 10px !important;
        left: 0;
    }

    .slick-slider {
        margin-left: 20px;
    }
}

// 後ろのあみあみ
.shado-fukidashi {
    background-color: #ffe000;
    background-image: url(/assets/img/shadow_pattern.png);
    background-repeat: repeat;
    background-position: top left;
    background-size: 5px 5px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 5px;
    left: 13px;
    border-radius: 30px;
    overflow: hidden;
    transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);

    @include media-sm () {
        top: 4px;
        left: 5px;
    }
}



.menu-open {
    display: block;
    transform: translateX(-100vw);
}


//ページTOP
.pagetop {
    position: fixed;
    z-index: 50;
    bottom: 30px;
    right: 50px;
    @include media-sm () {
        bottom: 50px;
        right: 10px;
    }

    &--button {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        background-color: #0066EB;
        display: block;
        position: relative;
    }

    & img {
        width: 22px;
        height: 14px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -7px 0 0 -11px;
        transition: margin-top 0.3s ease-in-out;
    }
}

